.days {
    padding-right: 10px;
    display: flex;
    float: right;
    text-indent: 10px;
    padding-top: 40px;
}

.btnlink {
    background-color: white;
    color: #0088CC;
    font: 11px "OPens Sans", Arial, sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    a {
        text-decoration: none;
        color: #0088CC;
    }
}

.btnlink:hover {
    background-color: #0088CC;
    color: white;
    a {
        color: white;
    }
}

.move {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    float: right;
    padding-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 210px;
    z-index: 1;
    padding-left: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown-content a {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    text-decoration: none;
    color: #333333;
}


.arrow {
    border: solid #0088CC;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.header {
    border-top: 5px solid #384045;
    border-bottom: 5px solid gray;

    background-color: #0e0e0e;
    padding: 20px;
    color: white;
    margin-top: 60px;

}


.home-link {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
    a {
        text-decoration: none;
        color: #0088CC;
    }
}

.home-link a:hover {
    text-decoration: underline;
}

.title {

    font-size: 20px;
    margin-left: 40px;

}

aside {
    width: 100%;
}

.text-area-office {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: start;
    padding-top: 10px;
    a {
        text-decoration: none;
        color: #0088CC;
    }
}

.text-area-office a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    text-align: justify;
    justify-content: center;
    margin: 0 10% 0 10%;
}

.cersgis-border {
    width: 180px;
    border-top: 5px solid #0088CC;
    position: absolute;
    top: 283px;
    left: 50px;
}

.contact {
    position: absolute;
}

.btnn {
    padding: 15px;
    color: white;
    background-color: #0088CC;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btnn:hover {
    background-color: #0077CC;
}

.first-part {
    display: flex;
    background-color: #0E0E0E;
    color: white;
    position: relative;
    div{
    padding: 40px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.first-part a:hover {
    text-decoration: underline;
}

.get-in-touch {
    color: #fff;
    font: 1.2em "Open Sans",Arial,sans-serif;
    background-color: #0088CC;
    position: absolute;
    display: inline-block;
    padding: 10px;
    top: 0;
    left: 50;
    margin-top: -17px;
}

footer::before {
    content: "";
    border-right: 10px solid #005580;
    border-top: 16px solid transparent;
    display: block;
    position: absolute;
    width: 7px;
    height: 0;
    margin-left: 30px;
    margin-top: -16px;
}

.second-part {
    background-color: #060606;
    padding: 50px;
}
.copy-right {
    float: left;
    padding: 10px 30px 10px 15px;
}

.logo {
    margin-left: 500px;
}