.days {
    padding-right: 10px;
    display: flex;
    float: right;
    text-indent: 10px;
    padding-top: 40px;
}

.btnlink {
    background-color: white;
    color: blue;
    font-size: 11px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    a {
        text-decoration: none;
        color: blue;
    }
}

.btnlink:hover {
    background-color: blue;
    color: white;
    a {
        color: white;
    }
}
.move {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    float: right;
    padding-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 210px;
    z-index: 1;
    padding-left: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown-content a {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    text-decoration: none;
    color: #333333;
}


.arrow {
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

section {
    margin-top: 50px;
}

aside {
    padding: 40px 0 40px 80px;
    background-color: black;
}

.btnn {
    padding: 10px;
    color: white;
    background-color: #0077CC;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btnn:hover {
    background-color: #0088CC;
}

.text-with-picture {
    background-color: #0088CC;
    border-top: 7px solid #0077CC;
    padding-bottom: 70px;
    img{
        float: right;
        width: 600px;
        padding: 5px 15px 5px 5px;
    }
    h2{
        color: white;
        font:"Open Sans", Arial, sans-serif;
        padding: 20px 0 40px 20px;
    }
}

.text-on-picture {
    position: absolute;
    left: 70%;
    margin-top: 270px;
    color: white;
    line-height: 4px;
    font: 25px;
}

.text-by-picture {
    font: 18px "Open Sans", Arial, sans-serif;
    padding: 0px 10px 10px 20px;
    color: white;
}

hr.solid {
    border-top: 2px solid;
    color: #DBDBDB;
}

.whowe {
    color: #FFFFFF;
    background-color: black;
    font: 13px "Open Sans", Arial, sans-serif;
    padding: 10px 15px;
    cursor: pointer;
    margin: 20px;
}
.whowe:hover {
    background-color:#2E353E;
}


div.gallery {
        img{
            width: 400px;
        }
        padding: 20px;
    }

article {
    display: flex;
}

mark .news{
    padding-left: 20px;
}


.inscribe {
    top: 0px;
    max-width: 50px;
}

.inscribe-header {
    background: #0088CC;
    color: white;
    padding: 0px 10px 2px;
    font: 12.6px "Open Sans", Arial, sans-serif;
    margin-top: -3px;
}

.inscribe-container {
    background-color: #F4F4F4;
    color: #0088CC;
    padding: 5px;
}

.inscribe-gallery {
    display: flex;
    padding-top: 10px;
    a {
        text-decoration: none;
    }
}

.inscribe-gallery a:hover {
    text-decoration: underline;
}

.last-text {
    line-height: 10px;
    color: gray;
    padding: 8px;
}
.read-more {
    color: #FFFFFF;
    font: 12px "Opens Sans", Arial, sans-serif;
    background-color: #0077CC;
    cursor: pointer;
    float: right;
    padding: 5px 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.read-more:hover {
    background-color: #0088CC;
}

.first-part {
    display: flex;
    background-color: #0E0E0E;
    color: white;
    position: relative;
    div{
    padding: 40px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.first-part a:hover {
    text-decoration: underline;
}

.get-in-touch {
    color: #fff;
    font: 1.2em "Open Sans",Arial,sans-serif;
    background-color: #0088CC;
    position: absolute;
    display: inline-block;
    padding: 10px;
    top: 0;
    left: 50;
    margin-top: -17px;
}

footer::before {
    content: "";
    border-right: 10px solid #005580;
    border-top: 16px solid transparent;
    display: block;
    position: absolute;
    width: 7px;
    height: 0;
    margin-left: 30px;
    margin-top: -16px;
}

.second-part {
    background-color: #060606;
    padding: 50px;
}
.copy-right {
    float: left;
    padding: 10px 30px 10px 15px;
}

.logo {
    margin-left: 500px;
}